<!doctype html>
<html ng-app="store" lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body ng-controller="StoreController as store">
  	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    	<h1>Welcome to my Angular Store</h1>
    	<div class="row">
	      <div class="col-sm-6">
	      	<h2>Product List</h2>
	        <table class="table table-striped">
	          <thead>
	            <tr>
	              <th>Name</th>
	              <th>Price</th>
	              <th colspan="3"></th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr ng-repeat="product in store.products">
	              <td>{{product.name}}</td>
	              <td>{{product.price | currency}}</td>
	              <td ng-controller = "ProductsController as productCtrl">
	              	<a href="#" ng-click="productCtrl.fillForm($event, store, product)" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-edit"></span></a> 
	              	<a href="#" ng-click = "productCtrl.removeProduct($event, store, product)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
	              </td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	      <div class="col-sm-6">
	      	<h2>Add new Product</h2>
	      	<form name="productForm" ng-controller="ProductsController as productCtrl" ng-submit="productForm.$valid && productCtrl.addProduct(store)" novalidate>
					  <div class="form-group">
					    <label for="productName">Name</label>
					    <input ng-model="productCtrl.name" type="text" class="form-control" name="productName" placeholder="Enter the product name" required>
					  </div>
					  <div class="form-group">
					    <label for="productPrice">Price</label>
					    <input ng-model="productCtrl.price" type="text" class="form-control" name="productPrice" placeholder="Enter the product price" required>
					  </div>
					  <input ng-model="productCtrl.$$hashKey" type="hidden" name="productKey">
					  <button type="submit" class="btn btn-primary">Submit</button>
					  <a ng-click="productCtrl.reset()" class="btn btn-default">Reset</a>
					</form>
	      </div>
    	</div>
    </div><!-- /.container -->    
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>